/* Universal styles */

body{
    font-family: "Poppins";
    margin: 0;
}

html{
    
}

p{
    line-height: 1.5;
}

/* Make a classes for fluid typography text */

/* Header styling */

.header{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    z-index: 1;
}

/* Header nav links */

.nav-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links ul li{
    display: inline-block;
}

.nav-links ul li a{
    text-decoration: none;
    padding: 15px;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.nav-links ul li a:hover{
    text-decoration: underline;
    color: orange;
}

/* Home Page */

.container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}

.outer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/home.jpg");
    background-size: cover;
    background-position: center;
}

.details{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo{
    width: 20vw;
    max-width: 200px;
    height: auto;
    max-height: 200px;
}

.details h1{
    color: orange;
    margin: 0;
    font-weight: 900;
    /*font-size: 120px;*/
    font-size: 1rem;
    font-size: clamp(3.75rem, 16.667vw + 0.417rem, 13.75rem);
    /* line-height: clamp(5.625rem, 20.417vw + 1.542rem, 17.875rem); */
    line-height: 1;
    margin-bottom: 80px;
}

.details p{
    color: white;
    font-size: 26px;
}


.latest{
    position: absolute;
    text-align: center;
    bottom: 10px;
    width: 100%;
}

/* .latest h6{
    font-size: 40px;
} */

.latest h6 a{
    text-decoration: none;
    color: orange;
}

.latest h6 a:hover{
    color: white;
    transition-duration: 0.4s;
}

/* Latest Page */

.latest-header{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(69, 136, 109, 0.65);
}

.latest-container{
    background-size: cover;
    background-position: center;
    background-color: rgba(69, 136, 109, 0.6);
}

.wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 2px;
}

.block{
    flex-basis: 50%;
    background-color: rgba(69, 136, 109, 0.65);
}

.thumbnail-image{
    width: 100%;
}

.image{
    width: 100%;
}

.caption{
    font-size: 10px;
    text-align: center;
    color: white;
}

.block h1{
    text-align: center;
    margin: 0;
}

.block p{
    text-align: center;
}

.button-container{
    position: relative;
    background-color: rgb(229, 255, 186, 0.5);
    width: 100%;
    margin-top: 30px;
}

.button {
    background-color: rgba(69, 136, 109, 0.6);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

/* Articles Page */

.type-container{
    padding-bottom: 20px;
    background-color: #eee;
    padding-top: 40px;
}

.title{
    text-align: center;
    padding-top: 10px;
    font-weight: 900;
    padding-bottom: 10px;
}

.title h2{
    margin: 0;
    padding: 0;
}

.type-links ul{
    margin: 0;
    padding: 0;
    text-align: center;
}

.type-links ul li{
    list-style: none;
    display: inline-block;
}

.type-links ul li a{
    text-decoration: none;
    padding: 10px;
    color: black;
    transition: all 0.3s ease-in-out;
}

.type-links ul li a:hover{
    text-decoration: underline;
    color: orange;
}


.content-container{
    padding: 20px;
    max-width: 1280px;
    width: 100%;
    margin: auto;
    position: relative;
    padding-bottom: 40px;
}

.content-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: calc(-50vw + 50%);
    height: 100%;
    width: 100vw;
    z-index: -1;
    background-color: #eee;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 500px;
}

.content-block{
    flex-basis: 50%;
    text-align: center;
    
}

.content-block h1{
    margin: 0;
    text-decoration: none;
}

.content-block p{
    text-decoration: none;
}

.content-block a {
    color: black;
}


.content-block a:hover{
    color:orange;
    transition-duration: 0.4s;
}

.footer-container{
    background-color: rgba(69, 136, 109, 0.6);
    margin: 0;
    padding: 40px 20px;
}


/* Article Content */

.article-container{
}

.article-title{
    font-size: 20px;
    padding: 20px;
}

.article-title h1{
    margin: 0;
}

.article-title p{
    font-size: 12px;
    color: red;
    opacity: 0.7;
    padding: 5px;
}

.article-content{
    padding-left: 25px;
    padding-right: 25px;
}

.article-content p{
    text-align: left;
    font-size: 16px;
    font-family: "Raleway";
}

/* Article Preview styles */

.article-preview{
    border-radius: 10px;
    background-color: white;
    padding: 0;
    margin: 0 auto 20px;
    overflow: hidden;
    box-shadow: 5px 7px 5px 0px rgba(82,62,89,1);
    max-width: 450px;
}

.article-preview__link{
    text-decoration: none;
    color: black;
}

.article-preview__image{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.article-preview__inner{
    text-align: center;
    padding: 20px;
}

.article-preview__heading{
    margin-top: 0;
}

.article-preview__excerpt{

}


@media screen and (min-width: 320px){
    .latest h6 a{
        font-size: 16px;
    }
    /* .details h1 {
        font-size: 100px;
    } */
    .article-preview{
    } 
    .article-preview__link{
    
    }
    
    .article-preview__image{
    
    }
    
    .article-preview__inner{
    
    }
    
    .article-preview__heading{
    
    }
    
    .article-preview__excerpt{
    
    }
}
@media screen and (min-width: 480px){
    .nav-links ul li a{
        text-decoration: none;
        padding: 15px;
        font-size: 20px;
    }
    .details p{
        font-size: 24px;
    }
    .article-preview{

    }
    .article-preview__link{
    }
    .article-preview__image{
    }
    .article-preview__inner{
    }
    .article-preview__heading{
    }
    .article-preview__excerpt{
    }
}

@media screen and (min-width: 680px){
    .content-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .article-preview{
        max-width: none;
        width: 48.5%;
    }
    
    .article-preview__link{
    
    }
    
    .article-preview__image{
    
    }
    
    .article-preview__inner{
    
    }
    
    .article-preview__heading{
    
    }
    
    .article-preview__excerpt{
    
    }
}

@media screen and (min-width: 768px) {
    /* .details h1{
        font-size: 220px;
        margin: 0;
        font-weight: 900;
    } */
    .latest h6 a{
        font-size: 30px;
    }
    .details p{
        color: white;
        font-size: 30px;
    } 
    .article-preview{
    }
    
    .article-preview__link{
    
    }
    
    .article-preview__image{
    
    }
    
    .article-preview__inner{
    
    }
    
    .article-preview__heading{
    
    }
    
    .article-preview__excerpt{
    
    }
}

@media screen and (min-width: 900px){
    .title h2{
        font-size: 40px;
        margin: 0;
        padding: 0;
    }
    .article-container{
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
    }
    .article-preview{
    }
    
    .article-preview__link{
    
    }
    
    .article-preview__image{
    
    }
    
    .article-preview__inner{
    
    }
    
    .article-preview__heading{
    
    }
    
    .article-preview__excerpt{
    
    }
    
}

@media screen and (min-width: 1200px){
    .title h2{
        font-size: 60px;
        margin: 0;
        padding: 0;
    }
    .type-links ul li a{
        font-size: 20px;
    }
    .article-preview{
        width: 32%;
    }
    
    .article-preview__link{
    
    }
    
    .article-preview__image{
    
    }
    
    .article-preview__inner{
    
    }
    
    .article-preview__heading{
    
    }
    
    .article-preview__excerpt{
    
    }
}

@media screen and (min-width: 1450px){
    .article-preview{
    }
    
    .article-preview__link{
    
    }
    
    .article-preview__image{
    
    }
    
    .article-preview__inner{
    
    }
    
    .article-preview__heading{
    
    }
    
    .article-preview__excerpt{
    
    }
}

@media screen and (min-width: 1600px){
    .article-preview{
    }
    
    .article-preview__link{
    
    }
    
    .article-preview__image{
    
    }
    
    .article-preview__inner{
    
    }
    
    .article-preview__heading{
    
    }
    
    .article-preview__excerpt{
    
    }
}
